{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "uglify": false
        }
      }
    ]
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        "react"
      ]
    }
  }
}
