{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-decorators",
    "transform-object-rest-spread",
    ["resolver", { "resolveDirs": ["common"] }]
  ]
}
