{
  "presets": [
    [
      "env", {
      "targets": {
        "node": "current"
      }
    }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    "transform-decorators",
    "transform-export-extensions",
    "transform-object-rest-spread"
  ]
}
