# Server-side application settings
# The main port to run the server on
APPLICATION_PORT=3000

# The absolute URL to the application.
APPLICATION_BASE_URL=http://localhost:3000

# The output path of server and client files built by webpack and babel.
OUTPUT_PATH=dist
PUBLIC_OUTPUT_PATH=dist/public

# Settings for webpack-dev-server.
DEV_SERVER_PORT=3001
DEV_SERVER_HOSTNAME=localhost
DEV_SERVER_HOST_URL=http://localhost:3001

# The primary asset path. Can be changed to be a CDN URL.
PUBLIC_ASSET_PATH=http://localhost:3001/assets/
