{
  "parser": "babel-eslint",
  "rules": {
    "indent": [
      1,
      2,
      { "SwitchCase": 1 }
    ],
    "quotes": [
      2,
      "single"
    ],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "linebreak-style": [
      2,
      "unix"
    ],
    "no-console": 0,
    "no-unused-vars": [1],
    "semi": [
      2,
      "always"
    ]
  },
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    '__BASE_URL__': true,
    expect: true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "ecmaVersion": 6
  },
  "plugins": [
      "react"
  ]
}
