node_modules
npm-debug.log*
.DS_Store

# ignore built static files
dist/
webpack-assets.json

# cordova ignores
cordova/www/*
cordova/www/**.*
!cordova/www/.gitkeep
cordova/plugins/
cordova/platforms/

# cordova build and release configurations
scripts/cordova/config/*.json
