<!doctype html>
<html>
<head>
  <%= helmet.title %>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width height=device-height" />
  <link rel="shortcut icon" type="image/x-icon" href="/dist/images/favicon.png">
  <link type="text/css" rel="stylesheet" href="<%= vendorCss %>" />
  <link type="text/css" rel="stylesheet" href="<%= appCss %>" />
</head>
<body>
  <div id="app"><%= html %></div>
  <script>window.__INITIAL_STATE__ = <%= JSON.stringify(initialState) %>;</script>
  <script src="<%= vendorJs %>"></script>
  <script src="<%= appJs %>"></script>
</body>
</html>
