.todos {
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;

  .todo.extra {
    padding: 10px;
  }
  .todo .completeInput {}
  .todo .text {
    &.completed {
      text-decoration: line-through;
      color: #ccc;
    }
  }
  .todo .delete {
    cursor: pointer;
    color: blue;
    text-decoration: underline
  }
}

.todoForm {
  width: 300px;
  margin: 10px 0 0;
  display: flex;

  input, button {
    padding: 5px 3px;
  }

  input { flex: 1; }
}
