// Base layout styles for HTML and body
html, body {
  height: 100%;
}

body {
  background: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: black;
  padding: 15px;
}
