html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;

  p {
    font-size: 16px;
    line-height: 24px;
  }
}

body {
  background-color: $white;
}

#app {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
